alembic==1.8.1
APScheduler==3.6.3
backports.zoneinfo==0.2.1
blessings==1.7
bpython==0.22.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
curtsies==0.3.10
cwcwidth==0.1.6
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.8.0
Mako==1.2.1
MarkupSafe==2.1.1
Pygments==2.12.0
python-dotenv==0.19.1
python-telegram-bot==13.7
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.26
tornado==6.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.9
zipp==3.6.0
